# Establecer los valores para las variables de entorno referenciadas en el archivo docker-compose.yml

# Dirección IP
IP=172.45.0

# Contraseña para el usuario root de MySQL
MYSQL_ROOT_PASSWORD=password

# Puerto del MySQL
MYSQL_PORT=3306

# Virtual host
VIRTUAL_HOST=www.example.loc,example.loc

# Ruta local de la aplicación mapeada en el contenedor de Docker
APP_PATH=./drupal/

# Puerto del contenedor de la aplicación
APP_PORT=80

# Nombre del proyecto
NAME=project
